<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: baseHead(~{::title}, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/profile_style.css}">
    <script th:src="@{/js/profile.js}"></script>
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title th:text="${'Profile | ' + profile_username}"></title>
</head>

<body>
<!-- HEADER -->
    <header th:replace="fragments/navbar :: navbar"></header>
<!-- HEADER -->
<section>
    <div class="jumbotron">
        <div class="container">
            <span th:switch="${#authentication.name}">
                <button th:case="${username}" id="jumbotron-profile-follow-button" style="color: #fff;background-color: #2EB82E">Me</button>
                <button th:case="*" id="jumbotron-profile-follow-button">+ Follow</button>
            </span>
            <img th:src="@{/images/alien-head.jpg}" class="jumbotron-profile-image" alt="...">
            <h1 class="jumbotron-profile-username">PeterhackX</h1>
            <button class="btn btn btn-md btn-outline-primary jumbotron-profile-button">Followers</button>
            <button class="btn btn btn-md btn-outline-primary jumbotron-profile-button">Following</button>
            <p class="jumbotron-profile-bio">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
    </div>
</section>
<main>
    <section style="position: relative;">
        <div class="profile-social-media-buttons">
            <ul class="social-icons-list">
                <li class="facebook"><a href=""><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                <li class="twitter"><a href=""><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                <li class="instagram"><a href=""><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                <li class="youtube"><a href=""><i class="fa fa-fw fa-youtube"></i>Youtube</a></li>
            </ul>
        </div>
        <div class="profile-posts-options" th:if="${#authentication.name} == ${username}">
            <button type="button" class="btn btn-primary btn-create-post">Create Post</button>
        </div>
        <!-- Create new post modal -->
        <!-- Hidden by default -->
        <div id="page-mask" class="closable"></div>
        <div class="modal-content modal-create-post closable">
            <form id="create-post-form" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Create new post</h5>
                    <button type="button" class="close" data-dismiss="modal-content" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="create-post-title">Title</label>
                        <input type="text" class="form-control" id="create-post-title" name="title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="create-post-description">Example textarea</label>
                        <textarea class="form-control" id="create-post-description" name="description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="create-post-hashtags">Tags</label>
                        <input type="text" class="form-control" id="create-post-hashtags" name="tags" aria-describedby="hashtags" placeholder="Enter hashtags">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"> Create </button>
                </div>
                <input type="hidden" name="author" th:value="${#authentication.name}"/>
            </form>
        </div>
        <div class="alert alert-success alert-dismissible post-alert closable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> You successfully created a new post.
        </div>
        <!-- END Create new post modal -->
        <div class="profile-posts-wrapper">
            <div class="page" th:each="post: ${posts}">
                <div class="inner-wrapper">
    <!--                    <div class="inner-wrapper">-->
                            <img th:src="@{../images/dinosaurs-jurassic-world-fact-check-3.jpg}" />
                            <div class="post-options-overlay">
                                <div class="options-title"><h3>Post Options</h3></div>
                                <div class="options-wrapper">
                                    <a th:href="@{/posts/edit/{postId}(postId=${post.getId()})}"><i class="fas fa-edit post-option-btn"></i></a>
                                    <a th:href="@{/posts/delete/{postId}(postId=${post.getId()})}"><i class="fas fa-trash-alt post-option-btn"></i></a>
                                </div>
                            </div>
                    <a th:href="@{/posts/view/{postId}(postId=${post.getId()})}">
                            <div class="content">
                                <div class="post-title">
                                    <h3 th:text="${post.getTitle()}"></h3>
                                </div>
                                <div class="post-description">
                                    <p th:text="${post.getDescription()}"></p>
                                </div>
                            </div>
                            <div class="post-tags-wrapper">
                                    <ul>
                                        <li class="post-tag" th:text="${post.getAuthor()}"></li>
                                        <li class="post-tag" >April 18, 2017</li>
                                        <li class="post-tag" th:text="${post.getTags()}"></li>
                                    </ul>
                            </div>
    <!--                    </div>-->
                    </a>
                </div>
            </div>
    </section>
</main>
</body>
</html>